.loginSection {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: black;
}

.containerLogin {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.containerLogin h2 {
  margin-bottom: 20px;
}

.containerLogin .formContainer {
  display: flex;
  flex-direction: column;
}

.containerLogin label {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

.containerLogin input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: border 0.2s ease-in-out;
}
.containerLogin input:focus {
  outline: none;
  border: 1px solid #FF6B00; /* Highlight input on focus */
  box-shadow: 0 0 5px rgba(255, 107, 0, 0.3);
}

.containerLogin button {
  padding: 10px;
  margin-top: 20px;
  background-color: #FF6B00;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.containerLogin button:hover {
  background-color: #E55D00;
}

.containerLogin p {
  margin-top: 20px;
}

.containerLogin a {
  text-decoration: none;
  color: #FF6B00;

}

.containerLogin a:hover {
  text-decoration: underline;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
