.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; 
}

  .logo {
  display: flex;
  align-items: center;
  }

  .footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Responsive for smaller screens */
  }

  .footer-nav li {
  margin-right: 20px;
  margin-bottom: 10px; /* Adding space for smaller screens */
  }

  a {
  color: #a7a7a7;
  text-decoration: none;
  }

  a:hover {
  color: #00bfa5;
  }

  .social-icons a {
  margin-left: 20px;
  color: #f0f0f0;
  font-size: 24px;
  }

  .whole-form {
  width: 500px;
  margin: 10px auto;
  }
  @media (max-width: 768px) {
      .footer-content {
          flex-direction: column;
          align-items: center;
      }

      .footer-nav ul {
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
      }

      .footer-nav li {
          margin-right: 0;
      }

      .footer-content a, .footer-content p{
          margin: 30px 10px;
          font-size: 15px;
      }

      .whole-form {
          width: 80%;
      }
  }