* {
  margin: 0;
  padding: 0;
}
.whole {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: url('../../assets/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.whole .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}
.whole .hero {
  text-align: center;
  padding: 150px 20px;
  position: relative;
  color: white;
}

.whole .hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.whole .hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.whole .stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 20px;
  margin-bottom: 20px; 
  text-align: center;
}

.whole .stat {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  background-color: #091436;
  border-radius: 10px;
  width: 200px;
}

.whole .stat h2 {
  color: #FF6600; /* Vibrant orange for numbers */
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.whole .stat p {
  color: #FFFFFF; /* Soft white for labels */
  font-size: 1.2em;
  margin-top: 10px;
}
.whole button {
  background-color: #FF6B00;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.whole button:hover {
  background-color: #E55D00;
}

@media (max-width: 768px) {
  .whole .hero h1 {
    font-size: 2rem;
  }

  .whole .hero p {
    font-size: 1.2rem;
  }

  .whole .hero button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
